.App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media only screen and (max-device-width: 480px) {
    .App {
        justify-content: flex-start;
        padding-top: 50px;
    }
}